<style>
    .written-by-a-human {
        display: block;
        margin: 30px auto;
        width: 140px;
        height: auto;
    }

    .giscus {
        margin-top: 30px;
    }
</style>

<img class="written-by-a-human" src="/images/written-by-a-human.png" alt="Written by a human, not by AI" width="262" height="84" loading="lazy">

<script src="https://giscus.app/client.js"
        data-repo="matteocontrini/blog"
        data-repo-id="R_kgDOHxZWaA"
        data-category="Comments"
        data-category-id="DIC_kwDOHxZWaM4CQoyO"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
