{{- $src := .Get "src" -}}
{{- if not (urls.Parse $src).IsAbs -}}
  {{- with .Page.Resources.Get $src -}}
    {{- $src = .RelPermalink -}}
  {{- else -}}
    {{- errorf "fig shortcode: resource %q not found in %s" $src .Page.Path -}}
  {{- end -}}
{{- end -}}

<figure{{ if .Get "vertical" }} class="vertical"{{ end }}>
  {{- if not (.Get "nolink") }}
  <a href="{{ $src }}" target="_blank" rel="noopener noreferrer">
  {{- end }}

  <img src="{{ $src }}" loading="lazy" {{ with .Get "alt" }}alt="{{ . }}" {{ end }}>

  {{- if not (.Get "nolink") }}
  </a>
  {{- end }}

  <figcaption>
    {{ .Get "caption" | .Page.RenderString }}
  </figcaption>
</figure>
