<style>
    .giscus {
        margin-top: 30px;
    }
</style>

<script src="https://giscus.app/client.js"
        data-repo="matteocontrini/blog-comments"
        data-repo-id="R_kgDOHxZ8VA"
        data-category="Comments"
        data-category-id="DIC_kwDOHxZ8VM4CQonk"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
