<hr>

<div class="dmarcwise">
    <span class="dmarcwise-title">
        Struggling with email deliverability?
    </span>

    <p>
        Test your email setup for free on <a href="https://dmarcwise.io/?ref=matteosonoio" target="_blank">DMARCwise</a>,
        then start monitoring SPF, DKIM and DMARC with a powerful dashboard, weekly
        email digests and more to ensure your emails land in the inbox.
    </p>

    <p class="dmarcwise-cta">
        <a href="https://dmarcwise.io/?ref=matteosonoio" target="_blank">
            Start your free test today
        </a>
    </p>
</div>

<hr>
