<hr>

<div class="dmarcwise">
    <span class="dmarcwise-title">
        Shameless plug ahead! 👇
    </span>

    <p>
        Did you know that by default Internet protocols <strong>allow anyone to send email from your domain?</strong>
    </p>

    <p>
        That's where DMARC comes into play: it helps you stop spoofing attacks and improve your deliverability.
    </p>

    <p>
        I've built a tool to help with this: you can
        <a href="https://dmarcwise.io/?ref=matteosonoio" target="_blank">test your email setup for free</a>,
        then start monitoring SPF, DKIM and DMARC with a cool dashboard, weekly
        email digests and more.
    </p>
</div>

<hr>